<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title></ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-searchbar></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <div id="container">
    <ion-grid>
      <ion-row>
        <ion-col>
          <img src="../../assets/icon/whatsapp.svg" alt="Whatsapp icon"/>
        </ion-col>
        <ion-col>
          <img src="../../assets/icon/ilustrador.svg" alt="Ilustrador icon"/>
        </ion-col>
        <ion-col>
          <img src="../../assets/icon/photoshop.svg" alt="Photoshop icon"/>
        </ion-col>
        <ion-col>
          <img src="../../assets/icon/speaker.svg" alt="Speaker icon"/>
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-grid>
      <ion-row>
        <ion-col>
          <img src="../../assets/icon/youtube.svg" alt="Youtube icon"/>
        </ion-col>
        <ion-col>
          <img src="../../assets/icon/netflix.svg" alt="Netflix icon"/>
        </ion-col>
        <ion-col>
          <img src="../../assets/icon/photo.svg" alt="Photo icon"/>
        </ion-col>
        <ion-col>
          <img src="../../assets/icon/galeria.svg" alt="Galeria icon"/>
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-grid>
      <ion-row>
        <ion-col>
          <img src="../../assets/icon/facebook.svg" alt="Faceboot icon"/>
        </ion-col>
        <ion-col>
          <img src="../../assets/icon/dropbox.svg" alt="Dropbox icon"/>
        </ion-col>
        <ion-col>
          <img src="../../assets/icon/pinterest.svg" alt="Pinterest icon"/>
        </ion-col>
        <ion-col>
          <img src="../../assets/icon/spotify.svg" alt="Spotify icon"/>
        </ion-col>
      </ion-row>
    </ion-grid>

  </div>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-grid>
      <ion-row>
        <ion-col>
          <img src="../../assets/icon/whatsapp.svg" alt="Whatsapp icon"/>
        </ion-col>
        <ion-col>
          <img src="../../assets/icon/photo.svg" alt="Photo icon"/>
        </ion-col>
        <ion-col>
          <img src="../../assets/icon/gmail.svg" alt="Gmail icon"/>
        </ion-col>
        <ion-col>
          <img src="../../assets/icon/pdf.svg" alt="PDF icon"/>
        </ion-col>
        <ion-col>
          <img src="../../assets/icon/calculator.svg" alt="Calculator icon"/>
        </ion-col>
        <ion-col>
          <img src="../../assets/icon/calendar.svg" alt="Calendar icon"/>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-footer>